
body{
  p, li{
    font-family: 'Open Sans', sans-serif, Arial;
    font-weight: 300;
  }

}


h1, h2, h3, h4{
   font-family: 'Abel', sans-serif;
 }



 .text-center{
   text-align: center;
 }

 a{
   font-family: 'Open Sans', sans-serif, Arial;
   font-weight: 300;
 }
